<!DOCTYPE html>
<html>
<head>

	{{!-- Document Settings --}}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	{{!-- Base Meta --}}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700,700i|Rubik:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">

	<link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?u8vidh">

	{{!-- Styles'n'Scripts --}}
	<link rel="stylesheet" type="text/css" href="{{asset "built/style.css"}}" />
	

	{{!-- This tag outputs SEO meta+structured data and other important settings --}}
	{{ghost_head}}

</head>
<body class="{{body_class}}">

	<div class="site-wrapper">

		{{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
		{{{body}}}

	</div>

	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
	</script>

	<script src="{{asset "js/main.js"}}" type="text/javascript"></script>

	{{#if pagination.pages}}
	<script>
		var maxPages = parseInt('{{pagination.pages}}');
	</script>
	{{/if}}

	{{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
	{{{block "scripts"}}}

	{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
	{{ghost_foot}}

</body>
</html>
